*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 22%;
    height: 200px;
    background-color: red;
    border: 3px solid black;
    cursor: move;
}

#DropArea{
    width: 100%;
    height: 300px;
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0px 3px 13px inset #000;
    display: flex;
    justify-content: space-between;
}